.car_section1 {
    text-align: center;
    height: 150px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.div_column{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.car_search{
    margin: auto;
    width: 500px;
    height: 70px;
    display: flex;
}